<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="au.com.floodaid"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:theme="@android:style/Theme.NoTitleBar">
		
		<activity android:name=".activity.SplashScreen" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name=".activity.Main" android:label="@string/app_name">
	    </activity>
	    <activity android:name=".activity.Contacts" >
	    </activity>
	    <activity android:name=".activity.About" >
	    </activity>
	    <activity android:name=".activity.Terms" >
	    </activity>
	    <activity android:name=".activity.Thanks" >
	    </activity>
	    <activity android:name=".activity.RegistrationForm" >
	    </activity>
	    <activity android:name=".activity.Login" >
	    </activity>
	    <activity android:name=".activity.OfferHelp" >
	    </activity>
	    <activity android:name=".activity.RequestHelp" >
	    </activity>
	    <activity android:name=".activity.AcceptTerms" >
	    </activity>
	    
	    
	    <activity android:name=".activity.FindMap" />
	    
	    <uses-library android:name="com.google.android.maps" />
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="7" />

</manifest> 